.simple-linear {
  background: linear-gradient(rgb(64, 197, 60), rgb(68, 187, 181));
}

*{
    font-family: 'calibri';
}

hr {
    color: rgb(100, 99, 99);
}

h2 {
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

img{
    height: 300px;
    width: 300px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
img:hover {
    height: 333px;
    width: 400px;
    margin-left: -50px;
}

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}

ul {
    font-size: 20px;
    background-color: rgba(114, 219, 184, 0.541);
}

ol {
    font-size: 20px;
    background-color: rgba(36, 122, 180, 0.514);
}

h4 {
    font-size: 18px;
    color: rgb(100, 4, 100);
}

p {
    font-style: italic;
    font-size: 19px;
}